.singleproduct .buttons .increment button {
    border: 1px solid var(--light-black);
}

.singleproduct .buttons .increment .form-control {
    border: 1px solid var(--light-black) !important;
}

.singleproduct .images img {
    width : 100%;
    height: 480px;
}

@media screen and (max-width:750px) {
    .singleproduct .images img {
        height: 100%;
    }
}